@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    font-family:"Inter", sans-serif;
}

body{
    background-color: #cfcfcf3e;
}
header{
    background-color: white;
    width: 100%;
}

#banner{
    display: flex;
    width: 100%;
    height: 35px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    background-color: black;
}

#local{
    display: flex;
    width: 150px;
    align-items: center;
}

#local>img{
    width: 18px;
    margin-right: 5px;
}

#ajuda{
    margin-right: 40px;
}

#redes>img{
    width: 18px;
}

#bar{
    display: flex;
    width: 100%;
    height: 110px;
    font-size: medium;
    justify-content: space-evenly;
    align-items: center;
}

#logo>img{
    width: 130px;
}

#search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px #00A2BE;
    border-radius: 4px;
    width: 730px;
    height: 37px;
}

#search>input{
    border-style: none;
    padding: 2px 14px;
}

#search>button{
    border-style: none;
    height: 37px;
    width: 50px;
    background-color: #00A2BE;
    cursor: pointer;
}

#search>button>img{
    width: 20px;
}

#cadastro{
    display: flex;
    width: 150px;
    font-size: small;
}

#cadastro>img{
    margin-right: 2px;
    width: 40px;
}

#carrinho{
    display: flex;
    width: 150px;
    font-size: small;
}

#carrinho>img{
    margin-right: 2px;
    width: 40px;
}

#find{
    display: flex;
    width: 100%;
    height: 50px;
    font-size: small;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

hr{
    border-color: #ededed3a;
}

#explorar{
    display: flex;
    margin-left: 15px;
}

#categoria{
    display: flex;
    width: 138px;
    height: max-content;
    text-align: center;
    font-size: smaller;
    background-color: #00A2BE;
    color: white;
    border-radius: 8px;
    padding: 5px;
    margin-left: 10px;
}

#categoria>img{
    width: 20px;
}

#out{
    width: 450px;
    display: flex;
    align-items: center;
}

#out>ul{
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 5px;
}

#out>ul>li{
    display: flex;
    height: 18px;
    padding: 5px;
    border-radius: 5px;
    margin: 8px;
}

#sugestoes{
    width: 450px;
    display: flex;
    justify-content: space-evenly;
}

#sugestoes>ul{
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 5px;

}

#sugestoes>ul>li{
    display: flex;
    border: solid 2px #00A2BE;
    height: 18px;
    padding: 5px;
    border-radius: 5px;
    margin: 6px;
    font-size: small;
}

#comercial{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 75px;
}

#parceiro{
    font-size: 25px;
    color: #2e2d2d;
    text-align: center;
    margin-bottom: 30px;
}

#parceiros{
    display: flex;
    justify-content: space-between;
}
